footer {
  padding: 2.5rem 1.5rem;
  background: green;

  .footer {
    background: white;
    padding: 1.5rem;
    border-radius: 6px;

    &__title {
    }

    ul {


      li {

        a {

        }
      }
    }

    &__container {


      &__col1 {

      }

      &__col2 {

      }

      &__col3 {

      }

      &__col4 {

      }

      &__col5 {

      }
    }

    hr {

    }

    // After the hr tag
    &__group {


      a {

      }

      &__infos {

        li {
          a {
          }
        }
      }
    }

    &__social {

      li {

        a {

          img {
          }
        }
      }
    }

    &__copyright {
      &__text {
        font-family: "Noi Grotesk Trial", Helvetica, sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.3;
        color: #999;
        margin-top: 1.5rem;

        a {
          color: #118631;
        }
      }
    }
  }
}


@media (min-width: 950px) {
  footer {
    .footer {
      &__title {

      }

      ul {

        li {

          a {

          }
        }
      }

      &__container {


        &__col1 {

        }

        &__col2 {

        }

        &__col3 {

        }

        &__col4 {

        }

        &__col5 {

        }
      }

      // After the hr tag
      &__infos {

        li {

          a {

          }
        }
      }

      &__social {

        li {

          a {

            img {

            }
          }
        }
      }

      &__copyright {

        &__text {

        }
      }
    }
  }
}