/* Contact section -> full page screen */
.contact {
  background: #b6ebc4;
  padding: 4rem 1.5rem;

  &__close {

  }

  &__container {
    display: grid;
    grid-row-gap: 2.25rem;

    &__infos {
      display: flex;
      flex-direction: column;
      gap: 1.8rem;

      .title {
        font-size: 2.25rem;

      }

      .text {
        font-family: Newsreader, "Times New Roman", Serif;
        font-size: 1.2rem;
        line-height: 1.2;
        font-weight: 300;
      }

      .img {

      }
    }

    .contact__form {
      #formContact {
        display: block;
        padding: 2rem;
        background: white;
        border-radius: 6px;
        font-family: "Noi Grotesk Trial", Helvetica, sans-serif;
      }

      fieldset {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1.5rem;

        label {
          display: block;
          font-size: 1rem;
          margin-bottom: 4px;
        }

        input {
          font-size: 1.2rem;
          display: block;
          box-sizing: border-box;
          width: 100%;
          border: none;
          border-bottom: 1px solid darkgrey;
          padding: 8px 0;
          color: #005924;

        }
      }

      &__budget {
        select {
          display: block;
          width: 100%;
          border: none;
          border-bottom: 1px solid darkgrey;
          padding: 8px 0;
          font-size: 1.2rem;
        }

        option {

        }
      }

      &__message {

        textarea {
          font-family: "Noi Grotesk Trial", Helvetica, sans-serif;
          display: block;
          width: 100%;
          border: none;
          border-bottom: 1px solid darkgrey;
          padding: 8px 0;
          font-size: 1.2rem;
          color: #005924;
        }
      }

      button[type="submit"] {
        display: block;
        border: none;
        border-radius: 4px;
        padding: 14px 1rem;
        background: #6cd689;
      }

      &__bottom {
        background: #fbfcf5;
        padding: 32px 1rem;
        text-align: center;
        display: grid;
        grid-row-gap: 0.375rem;
        border-radius: 0 0 4px 4px;

        &__text {
          font-family: "Noi Grotesk Trial", Helvetica, sans-serif;
        }

        &__link {
          text-decoration: none;
          font-family: Newsreader, "Times New Roman", Serif;
          font-style: italic;
          color: #005924;
        }
      }
    }
  }
}
@media (min-width: 991px) {
  .contact{
    &__container{
      max-width: 75rem;
      padding: 0 34px;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 5.25rem;
      margin: 0 auto;
      &__infos{
        max-width: 54ch;
        .img{
          max-width: 300px;
        }
      }
      .contact__form{
        max-width: 550px;
      }
    }
  }
}