html {
  scroll-behavior: smooth;
}

abbr {
  text-decoration: none;
}
$cta : #6cd689;
$cta-hover : #99e3ad;
$bg-color: #fbfcf5;
$max-screen : 991px;
$mid-screen : 768px;

body {
  background-color: $bg-color;
  max-width: 2200px;
  margin: 0 auto;
}

h2 {
  font-family: Noi Grotesk Trial, Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}

.sub_title {
  display: block;
  font-family: Newsreader, "Times New Roman", serif;
  font-style: italic;
  font-weight: 350;
  line-height: 1.2;

}

.cta {
  box-sizing: border-box;
  font-family: Noi Grotesk Trial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 12px 14px;
  background: #6cd689;
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  width: fit-content;
  &:hover{
    background: $cta-hover;
  }
}

ul {
  font-family: Noi Grotesk Trial, Helvetica, sans-serif;
  font-size: 1rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 1000px;
}

hr {
  border: 0.01rem solid #ccc;
}

.top {
  width: 50px;
  padding: 5px 7px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #6cd689;
  border-radius: 100%;
}
.top:hover{
  background: #9ee3b0;
  transition: 0.3s;
}
@media (min-width: 950px) {
  body {

  }
}
@media (max-width: 991px) {
  .top{
    right: 25px;
    bottom: 25px;
  }
}
@media (min-width: 991px) {
  .special_hidden_max:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}