
$bg-color: #FBFCF6;

body {
  background-color: $bg-color;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 500px;
}

hr {
  border: 0.01rem solid #ccc;
}

@media (min-width: 950px) {
  body {

  }
}